/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
    --cnvs-header-height-sm: 50px;  /* For small screens */
    --cnvs-header-height-md: 7rem;  /* For medium screens */
    --cnvs-header-height-lg: 50px;  /* For large screens */
    --cnvs-header-height-shrink: 5rem;  /* For shrinked headers */
	--cnvs-counter-lg-font-size: 50px;
    --cnvs-font-size-body: 1.5rem;
}