/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

:root {
  --cnvs-header-height-sm: 10rem;
  --cnvs-header-height-sm: 7rem;  /* For small screens */
  --cnvs-header-height-md: 7rem;  /* For medium screens */
  --cnvs-header-height-lg: 50px;  /* For large screens */
  --cnvs-header-height-shrink: 5rem;  /* For shrinked headers */
	--cnvs-counter-lg-font-size: 50px;
  --cnvs-font-size-body: 1.5rem;
}

.is-expanded-menu .mega-menu-style-2 .sub-menu-container:not(.mega-menu-dropdown) .menu-item:not(.mega-menu-title):hover > .menu-link {
  --cnvs-primary-menu-submenu-hover-bg: #fff;
  --cnvs-primary-menu-submenu-hover-padding-offset: 0.375rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
}

.portfolio-img {
    max-width: 150px; /* Adjust the size as needed */
    max-height: auto; /* Ensures the height adjusts automatically */
    margin: 10px; /* Optional: adds some spacing between images */
    display: inline-block; /* Keeps the images in a row */
    vertical-align: middle; /* Aligns images properly */
}

/* Hide default Bootstrap backdrop */
.modal-backdrop.show {
    display: none;
}

  /* Custom modal styling */
.custom-modal-slide-in .modal-dialog {
    max-width: 50vw; /* Ensure it covers half the width */
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.custom-modal-slide-in.show .modal-dialog {
    transform: translateX(0);
}

  /* Optional: Add padding or other styling to the modal */
.modal-content {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

  /* Close button styling */
.modal-header .close {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.75rem;
    margin: 0;
}

  /* Add animation to the body of the modal when it slides in */
.slide-in-from-right {
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
    transform: translateX(100%);
    }
    100% {
    transform: translateX(0);
    }
}

/* Flex layout for logo and content */
.company-layout {
    display: flex;
    align-items: flex-start;
  }
  
  /* Logo column */
  .company-logo {
    flex: 0 0 150px; /* Fixed width for logo */
    margin-right: 30px; /* Adds space between logo and content */
  }
  
  .company-logo img {
    max-width: 100%; /* Ensures the logo fits within its column */
    height: auto;
  }
  
  /* Main content section */
  .company-section {
    flex-grow: 1;
  }
  
  /* Company name and tagline */
  .company-header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .company-name {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
  }
  
  .company-tagline {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
  }
  
  /* Details section */
  .company-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .detail-item {
    flex: 1;
  }
  
  .detail-item h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
    margin-bottom: 5px;
  }
  
  .detail-item p {
    font-size: 1.2rem;
    color: #333;
    font-weight: 700;
  }
  
  /* Company description */
  .company-description {
    padding-top: 20px;
  }
  
  .company-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  /* Location and website */
  .company-location {
    margin-top: 10px;
    font-size: 0.85rem;
  }
  
  .company-website {
    font-weight: bold;
    color: #b38900;
    text-decoration: none;
  }
  
  .company-website:hover {
    text-decoration: underline;
  }

  .language-switcher {
    margin-left: 20px;  /* Adjust position */
  }
  
  .language-switcher select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
/* Specific class for real estate items */
.real-estate-cover {
  position: relative;
  overflow: hidden;
  height: 100%; /* Make sure it takes full height of the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.real-estate-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make the image cover the entire container */
}

.portfolio-grid .real-estate-cover {
  width: 33.33%; /* 3 items per row */
  height: 300px; /* Adjust the height as per your requirement */
  padding: 10px;
}

.real-estate-item {
  display: block;
  height: 300px; /* Adjust height as per your requirement */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  text-decoration: none;
}

.heading-block {
  background: rgba(0, 0, 0, 0.5); /* Optional, to make the text stand out on images */
  padding: 10px;
}

.prop-img {
  height: 30rem;
  width: auto;
}

.real-estate-portfolio {
  padding: 50px 0;
}

.real-estate-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.real-estate-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.real-estate-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.real-estate-img {
  width: 100%;
  height: 250px; /* Set a fixed height */
  overflow: hidden;
  position: relative;
}

.real-estate-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the whole area */
  transition: transform 0.3s ease;
}

.real-estate-card:hover .real-estate-img img {
  transform: scale(1.1); /* Zoom effect on hover */
}

.real-estate-info {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

.real-estate-info h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease;
}

.real-estate-card:hover .real-estate-info h3 {
  color: #b38900; /* Change color on hover */
}

.esg-section {
  padding: 50px 0;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.esg-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.esg-section p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.esg-section .btn-outline-primary {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #b38900;
  color: #b38900;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.esg-section .btn-outline-primary:hover {
  background-color: #b38900;
  color: #fff;
}

@media (max-width: 767px) {
  .esg-section h2 {
      font-size: 1.5rem;
  }

  .esg-section p {
      font-size: 0.9rem;
  }
}

.pri-section {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.pri-logo {
  max-width: 20rem;
  margin-bottom: 20px;
}

.pri-description {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 30px;
  line-height: 1.6;
}

.pri-link {
  font-size: 1rem;
  color: #b38900;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.pri-link:hover {
  color: #b38900;
}

/* UN Global Compact Section */
.un-global-compact, .kgc-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.un-heading, .kgc-heading {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  font-style: italic;
}

.un-logo img, .kgc-logo img {
  max-width: 200px;
  margin: 20px auto;
}

.un-text, .kgc-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.un-link, .kgc-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #b38900;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.un-link:hover, .kgc-link:hover {
  background-color: #b38900;
}

.partners-section {
  padding: 40px 0;
}

.partner-card {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.partner-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.partner-image {
  width: 100%;
  height: 20rem; /* Adjust height for standard sizing */
  object-fit: cover; /* Ensures images are uniform */
  border-radius: 10px;
}

.partner-info {
  text-align: center;
  margin-top: 15px;
}

.partner-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.partner-position {
  font-size: 1rem;
  color: #777;
}

/* Modal customization */
.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.6;
}

.info-section {
  padding: 50px 0;
}

.info-item {
  margin-bottom: 30px;
}

.info-icon {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.info-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.view-more-link {
  font-size: 0.9rem;
  color: #7f8c8d;
  text-decoration: none;
}

.view-more-link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.view-more-link i {
  margin-left: 5px;
}

/* Container for the portfolio */
.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* This ensures both elements stretch to the same height */
  padding: 40px 40px 40px 0; /* Padding on the left only */
  margin: 40px auto; /* Keep auto margins for centering */
  max-width: 1200px;
}

/* Styling for the left side text details */
.portfolio-details {
  width: 40%;
  line-height: 1.6;
}

.portfolio-header h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 400;
}

.portfolio-details p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

/* Styling for the right-side image */
.portfolio-image {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Description below the portfolio */
.portfolio-description {
  margin-top: 20px;
  padding: 0 40px;
  font-size: 1.1em;
  max-width: 1200px;
  margin: auto;
  color: #333;
  line-height: 1.6;
}

.map-container {
  position: relative;
  width: 100%;
  height: 300px; /* Adjust the height to whatever fits your design */
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Container and layout */
.download-section {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
}

.section-title {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* File card styling */
.file-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.file-card:hover {
  transform: translateY(-10px);
}

/* File icon */
.file-icon {
  font-size: 3em;
  margin-bottom: 10px;
}

/* File name and size */
.file-name {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
}

.file-size {
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #777;
}

/* Download button */
.download-btn {
  background-color: #b38900;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-btn:hover {
  background-color: #f1f1f1; /* Keep the same background hover color or adjust as needed */
  color: #000; /* Change the text color to #b38900 on hover */
}

.custom-sidebar a {
  display: block;
  color: #444;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

.custom-sidebar a:hover, .custom-sidebar a.active {
  background-color: #ccc;
  color: #000;
}

.custom-widget {
  display: none;
}

.custom-widget.active-widget {
  display: block;
}

.custom-iframe-container {
  width: 100%;
  height: 600px;
  border: none;

}

/* Target submenu under "Our Businesses" */
.menu-item:nth-child(2) .sub-menu-container {
  background-color: #C7A17A; /* Light gray or any color of your choice */
}

/* Target submenu under "Impact" */
.menu-item:nth-child(3) .sub-menu-container {
  background-color: #C7A17A; /* Light green or any color of your choice */
}

@media (max-width: 576px) {
  .responsive-logo {
      max-width: 80px;       /* Limit the logo size for mobile view */
      height: auto;          /* Maintain aspect ratio */
      margin-bottom: 15px;   /* Add spacing below each logo */
  }

  .logo-text {
      font-size: 1rem;       /* Slightly reduce font size for mobile */
  }

  .logo-section .col-md-4 {
      margin-bottom: 30px;   /* Add vertical spacing between columns */
  }
}

/* Custom Side Panel */
.custom-side-panel {
  position: fixed;
  top: 0;
  left: -60%;          /* Hidden by default */
  width: 30%;          /* Covers 60% of the screen */
  height: 100%;
  background-color: #fff;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
  z-index: 2002;       /* High z-index to avoid conflicts */
  overflow-y: auto;
  transition: left 0.5s ease; /* Smooth slide-in transition */
}

/* Custom Side Panel Content */
.custom-side-panel-content {
  padding: 30px;
  color: #333;
  padding: 50px 30px 30px; /* Top padding increased to 50px, sides and bottom remain 30px */
  text-align: justify;
}

/* Custom Close Button */
.custom-close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

/* Custom Background Overlay */
.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay with transparency */
  z-index: 2001;        /* Below the side panel */
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth fade-in transition */
}

/* Show the Custom Overlay with Transition */
.custom-overlay.active {
  display: block;
  opacity: 1;
}

/* Prevent Body Scroll when Custom Modal is Open */
body.custom-modal-open {
  overflow: hidden;
}

/* Custom Team Member Image Styling */
.custom-team-image img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.custom-team-image img:hover {
  transform: scale(1.05);
}

/* Custom Section Background */
.custom-section-bg {
  background-color: #f0f2f5;
}

.custom-team-title h4 {
  text-align: center;
  font-weight: bold;
  margin-top: 15px; /* Add space above the name */
  margin-bottom: 5px; /* Slight space below the name */
}

.custom-team-title span {
  display: block; /* Makes span take full width to center-align */
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 15px; /* Add space below the description */
}

.custom-panel-image {
  text-align: center;
  margin-bottom: 20px; /* Space below the image */
}

.custom-panel-image img {
  max-width: 70%;    /* Adjust the image size as needed */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

@media (max-width: 768px) {
  .custom-side-panel {
      width: 100%;       /* Full width on mobile */
      left: -100%;       /* Hidden by default */
      height: 100%;      /* Full height on mobile */
      border-radius: 0;  /* Remove any rounded corners */
  }

  .custom-side-panel-content {
      padding: 20px;     /* Reduce padding for mobile view */
  }

  .custom-close-btn {
      font-size: 2rem;
      top: 15px;
      right: 20px;
  }
}

.custom-pitch-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;      /* Black background */
  color: #fff;                 /* White text color */
  text-decoration: none;       /* Remove underline */
  border-radius: 5px;          /* Optional: Rounded corners */
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-pitch-button i {
  margin-left: 8px;            /* Space between text and icon */
}

/* Hover State: Keep button black */
.custom-pitch-button:hover {
  background-color: #000;      /* Black background on hover */
  color: #fff;                 /* Keep text white on hover */
}

.case-study {
  line-height: 1.6;
  color: #333;
  margin: 20px;
  max-width: 800px;
  margin: auto;
  text-align: justify;
} 

.challenge {
  background-color: #f8f9fa;
  padding: 15px;
  border-left: 4px solid #A67D5D;
  margin-bottom: 20px;
  border-radius: 5px;
}

.challenge-box {
  background-color: #F2E6D9;  /* Soft cream background */
  padding: 20px;
  border-left: 5px solid #603F26;  /* Dark brown accent on the left */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Subtle shadow */
  margin-bottom: 20px;
}

.challenge p {
  margin: 5px 0;
}

.key-takeaways {
  background-color: #F2E6D9;
  padding: 15px;
  border: 1px solid #F2E6D9;
  border-radius: 5px;
  margin-top: 20px;
}

.case-study-container {
  width: 100%;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.is-expanded-menu .mega-menu-style-2 .sub-menu-container:not(.mega-menu-dropdown) .menu-item:not(.mega-menu-title):hover > .menu-link {
    background-color: #ffffff; /* White background on hover */
    --cnvs-primary-menu-submenu-hover-padding-offset: 0.375rem;
    padding-right: 0.25rem;
    border-radius: 0.25rem;
}

/* Submenu Background Color Change */
.primary-menu .sub-menu-container {
  background-color: #8C6A4F !important; /* White background */
  border-radius: 0.25rem !important;    /* Rounded corners */
}

/* Submenu Link Hover State */
.primary-menu .sub-menu-container .menu-item .menu-link:hover {
  color: #fff !important;            /* Complementary text color */
  border-radius: 0.25rem !important;    /* Maintain rounded corners */
}